# Activer la réécriture d'URL
RewriteEngine On

# Redirection vers une version www du site
RewriteCond %{HTTP_HOST} ^example\.com [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]

# Désactiver l'indexation des répertoires
Options -Indexes

# Autoriser l'accès à tous
Require all granted

# Si vous voulez restreindre l'accès à certaines IP, utilisez plutôt :
# Require ip 192.168.1.0/24
